@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
html{
    font-size: 62.5%; /*10px*/
}
*{
    margin: 0;
    padding: 0;
}
h1{
    padding: 30px;
}
body{
    font-family: 'Orbitron', sans-serif;
    border-radius: 15px;
    box-shadow: 3px 3px 3px;
    /* border: 1px solid black; */
    /* padding: 20px; */
    margin: 0px 20px;
    font-size: 16px;
}
header{
    height: 10vh;/*viewport height*/
    background-color: #624a2e;
    color: white;
    text-align: center;
    box-shadow: 3px 3px 3px;
}

main{
    height: 80vh; /*viewport height*/
    background-color: #fcec4e;
    border-radius:0px 0px 15px 15px ;
}
ul li{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem; /*1rem = 10px*/
    background-color: #fcec4e;
    box-shadow: 3px 3px 3px;
    margin-right: 0rem;
    margin-left: 0rem;
    margin: 10px 0;
    border: black solid 1px;
    border-radius: 5px;
    
}
button{
    /* padding: 0 5px; */
    background-color: #0d6525;
    color: white;
    border-radius: 5px;
    width: 100%;
}
p {
    word-break: break-all;
    white-space: normal;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#item{
    margin-top: 10px;
    width: 100%;
}
.delete{
    background-color: red;
    height: 25px;
    width: 25px;
}
#item-list{
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; 1rem = 10px */
    background-color: #fcec4e;
    box-shadow: 3px 3px 3px;
    margin-right: 0rem;
    margin-left: 0rem;
    margin: 10px 0;
    padding: 10px;
    border: black solid 1px;
    border-radius: 10px;

}
.item-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
div#item-list div{
    margin-top: 5px;
}

